<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>Flatland</title>
	
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/flatland.css' %}" />
	
	<script type="text/javascript" src="{% static 'vendor/jquery-2.0.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/raphael.js' %}"></script>
	<script src="http://localhost:8422/socket.io/socket.io.js"></script>
	
	<script src="{% static 'javascript/flatland_world.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'javascript/flatland.js' %}" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div id="world"></div>
</body>
</html>